{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%} {{post.title}} {%endblock%}


{%block content%}
<div class="container">

    <div class='col-sm-6 col-sm-offset-3'>

        <h2>{{post.title}}</h2>
        <small class="text-muted">{{post.publish}}</small>
        <small>{%if post.draft%} <span style="color: red;">Draft </span>{%endif%}</small>
        {%if post.user.get_full_name%}
        <span>Author: {{post.user.get_full_name }}</span>
        {%endif%}
        <p>Read Time : {{post.read_time|time:"i"}} minuts</p>
        {%if post.image%}
        <img src="{{post.image.url}}" class="img-responsive">
        {%endif%}

        <div class="row">
            <div class="content-markdown post-detail-item">{{post.get_markdown}}</div>

            {% if request.user.is_authenticated %}
            {%if request.user == post.user%}
            <div class="col-12">
                <a href="{{ post.get_update_url }}">Edit</a>
                <a href="{{ post.get_delete_url }}">Delete</a>
            </div>
            {%endif%}
            <br />
            <div>
                <form method="POST"> {%csrf_token%}
                    {{comment_form|crispy}}
                    <input type="submit" value="post comment" class="btn btn-default">
                </form>
                {%else%}
                <p>You must login to comment</p>
                {% endif %}
                <hr />
                <p class="lead">Comments</p>
                {% for comment in comments%}

                <blockquote>
                    <p>{{comment.content}}</p>
                    <footer>{{comment.user}} | {{comment.timestamp|timesince}} ago {%if comment.children.count > 0%} |
                        {{comment.children.count}}Comments {%endif%}| <a href="" class="comment-reply-btn">Reply</a> |
                        <a href="{%url 'delete' comment.id%}">Delete</a></footer>
                    <div class="comment-reply" style="display: none;">
                        {%for child_comment in comment.children%}
                        <blockquote>
                            <p>{{child_comment.content}}</p>
                            <footer>{{child_comment.user}} | {{child_comment.timestamp|timesince}} ago | <a
                                    href="{%url 'comments:delete' child_comment.id%}">Delete</a></footer>
                        </blockquote>
                        {%endfor%}
                        {%if request.user.is_authenticated%}
                        <form method="POST"> {%csrf_token%}
                            {{comment_form|crispy}}
                            <input type="hidden" name="parent_id" value="{{comment.id}}">
                            <input type="submit" value="reply" class="btn btn-primary">
                        </form>
                        {%else%}
                        <p>You must login to comment</p>
                        {%endif%}
                    </div>
                </blockquote>
                <hr />
                {%endfor%}
            </div>
        </div>
    </div>

    {%endblock%}
